<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='css/bootstrap.min.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/bootstrap.min.js') }}"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list') }}"
              >List Of Students</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('enternew') }}">Add Student</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="content">
        <!-- child template -->
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
